a{
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.repairHeader{
    width: 100%;
    height: 300px;
}

.headerImageRepair{
    background-size: cover;
    margin: 0 auto;
    width: 70%;
    height: 350px;
    background-image: url("../img/repair-banner.png");
}

.repairHeader h1 {
    color: rgb(82, 82, 82);
    padding-top: 131px;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

.container_products-repair {
    width: 100%;
    height: auto;
    margin-top: 300px;
    padding-top: 30px;
}

.div_products-repair{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

@media(max-width:912px){
    .headerImagerepair {
        width: 91%;
        background-repeat: no-repeat;
    }
}

@media(max-width:390px){
    .headerImageRepair {
        background-size: cover;
        margin: 0 auto;
        width: 70%;
        height: 118px;
    }
    .repairHeader h1 {
        color: rgb(82, 82, 82);
        padding-top: 80px;
        font-size: 30px;
        font-weight: 100;
        text-align: center;
    }
    .container_products-repair {
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding-top: 30px;
    }
}

@media(max-width:320px){
    .repairHeader h1 {
        padding-top: 23px;
        font-size: 20px;
    }
}